{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/happiness_star/stars.css' %}">
{% endblock style %}

{% block content %}
<form action="{% url 'happiness_star:star_form' %}" method="post">
{% csrf_token %}

<table id="star_form">
<tbody>
<thead>
    <tr><th></th><th colspan="5"><h1>Stars for {{ date.isoformat }}</h1></th></tr>
    <tr><th>Aspect</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th></tr>
</thead>
{% for field in form %}
<tr class="star_attribute">

<td>
    <label for="{{ field.id_for_label }}">
    {{ field.html_name.capitalize }}</label>
    {% if field.errors %}
        {{ field.errors }}
    {% endif %}
</td>

{% for radio in field %}
<td>{{ radio }}</td>
{% endfor %}
</tr>
{% endfor %}
<tr>
    <td colspan="5"></td>
    <td><input type="submit" value="save" id="star_form_submit" /></td>
</tr>

</tbody>
</table>

</form>
{% endblock content %}
